/* Configurações gerais */

:root{
    --thin-orange: #F2766F;
    --light-orange: #F1554C;
    --dark-orange: #C13730;
    --transition: 0.5s ease;
    --font-color-1: #1F1F24;
    --font-color-2: #35353D;
    --font-color-3: #737380;
    --background-color: #f4f5fc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    width: 100vw;
    min-height: 100vh;
}
a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.container{
    width: 90%;
}
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 3rem;
    margin-top: 23px;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--background-color);
}
.header-left{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-container{
    transition: var(--transition);
}
.toggle-active{
    color: var(--font-color-1);
    transform: rotate(90deg);
}
.toggle-disabled{
    color: var(--light-orange);
    transform: rotate(0);
}
.main_menu{
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.show-main-menu{
    height: 24rem;
}
.main_menu li{
    min-height: 3rem;
    list-style: none;
}
.main_menu a{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: inherit;
    transition: var(--transition);
}
.main_menu a:hover{
    color: var(--thin-orange);
    padding-left: 1rem;
}
.main_menu button{
    min-width: 172.25px;
}
.button{
    border: none;
    background-color: var(--light-orange);
    color: rgba(255, 255, 255, 1.0);
    border-radius: 7px;
    font-family: 'Inter', 'Times New Roman', Times;
    font-weight: 400;
    font-size: 16px;
    height: 44px;
    padding: 10px 36px;
    transition: var(--transition);
}
.button:hover{
    background-color: var(--dark-orange);
}

@media only screen and (min-width: 1000px){
    header{
        flex-direction: row;
        align-items: center;
    }
    .header-left{
        width: 170px;
    }
    .main_menu{
        display: flex;
        height: auto;
    }
    .main_menu li{
        padding-right: max(26px);
    }
    .main-menu a{
        align-items: center;
    }
    .main_menu a:hover{
        padding: 0;
    }
    .toggle-container{
        display: none;
    }
}






























/* Área do conteúdo principal */

main{
    width: 100%;
    height: calc(100% - 67px - 32px);
    justify-content: flex-start;
    margin-top: 32px;
    flex-wrap: wrap;
}
.text_area{
    min-width: 376px;
    width: 376px;
    flex-direction: column;
}
#main_title, #paragraph{margin-bottom: 15px;}
#devboost{color: #F2766F; font-style: normal;}
label{
    margin-left: 10px;
    transition-duration: 0.4s;
}
.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.play_button{
    width: 160px;
    height: 44px;
    margin-left: 27px;
    border-radius: 7px;
    transition-duration: 0.4s;
}
.play_button:hover{   
    background-color: #F1554C;
}
.play_button:hover label{   
    color: #fff;
}
.play_button:hover .icon_play{
    transform: rotate(360deg);
}
.play{
    background-color: #393D51;
    height: 34px;
    width: 34px;
}
.icon_play{
    transition-duration: 0.6s;
    transition-property: transform;
    transition-timing-function: ease;
}
.images_area{
    position: relative;
    height: 480px;
    min-width: 520px;
    position: relative;
    margin-left: 120px;
}
.waves_container{
    position: absolute;
    left: 0px;
    top: 315px;
    display: block;
}
.back_card{
    background-color: #F1554C;
    width: 348px;
    height: 428px;
    position: absolute;
    border-radius: 15px;
    top: 22px;
    right: 27px;
}
.image_container{
    width: 348px;
    height: 428px;
    position: absolute;
    left: 27px;
    bottom: 22px;
    border-radius: 15px;
    background-image: url(assets/Imagem.jpg);
}
.mini_card{
    background-color: #fff;
    width: 216px;
    height: 67px;
    border-radius: 10px;
    position: absolute;
    left: 0px;
    top: 100px;
}
.lightning{
    width: 43px;
    height: 43px;
    background-color: #F1554C;
}
.card_text{
    margin-left: 20px;
}

/*Edição de fontes*/
.heading1{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 43px;
    line-height: 53px;
    letter-spacing: 0px;
    color: var(--font-color-1);
}
.heading2{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1px;
    color: var(--font-color-2);
}
.text1{
    font-family: 'Inter', 'Times New Roman', Times;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color-2);
}
.text2{
    font-family: 'Inter', 'Times New Roman', Times;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--font-color-2);
}
.text3{
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 3px;
    color: var(--font-color-3);
}